# Ignore Python bytecode files and caches (any depth)
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore pdfs and .zip files
*.pdf
*.zip

# Ignore student info files and time configuration files
student_info.json
time_config.json

# Ignore logs in any nested logs/ directory
logs/
**/logs/

# Ignore grader output files
grading_status.txt
*.log